 <hr style="height:2px;border-width:0;color:gray;background-color:gray"> 

<h2 class="text-center">PAGE GOSSIP </h2>

 <hr style="height:2px;border-width:0;color:gray;background-color:gray"> 
 
  <h3 class="text-center"> Voici le gossip n° <%= @gossip.id%></h3><br/>
  <p class="text-center">
  Auteur : <%= @gossip.user.first_name %> <%= @gossip.user.last_name %><br/>
  Titre : <%= @gossip.title %><br/>
  Contenu du gossip : <%= @gossip.content %><br/>
  Créé le : <%= @gossip.created_at.strftime('%d/%m/%Y') %><br/>
  </p>
  <p class="text-muted text-center">
  Envoyé depuis   <%= link_to @gossip.user.city.name, city_path(@gossip.user.city_id) %><br/>
  
  <%= link_to 'Modifier gossip', edit_gossip_path(@gossip.id), class: 'btn-grad' %>

  <%= link_to 'Supprimer gossip', gossip_path(@gossip.id),class: 'btn btn-danger', method: 'delete' %>

